---
import MainLayout from "../layouts/MainLayout.astro";
import ImageAndText from "../components/ImageAndText.astro";
import Kompetencer from "../components/Kompetencer.astro";
import TextAndImage from "../components/TextAndImage.astro";
import Projekt from "../components/Projekt.astro";
---

<MainLayout>
	<ImageAndText image="cv_portraet.webp" header="Hvem er jeg?" text="Mit navn er Lasse Vestergaard og jeg er en 28 årig kneit fra Kolding, som studerer multimediedesign på KEA. Jeg er igang med mit tredje semester og mit kommende praktikforløb nærmer sig med hastige skridt. Jeg håber at kunne finde en praktikvirksomhed som kan lære mig en hel masse inden for front-end udvikling og design."/>

	<section id="my_experience">
<TextAndImage første_overskrift="Hvad brænder jeg for?" første_brødtekst="Gennem studiet har jeg fundet ud af at min interesse primært ligger i kode front-end løsninger. Dog synes jeg også at det er spændende at designe prototyper af sider og komponenter." anden_overskrift="E-commerce erfaring" anden_brødtekst="Jeg har tidligere arbejdet som eCommerce coordinator for mode- og accessorie brandet Becksöndergaard. Her sad jeg blandt andet med den daglige drift af deres Shopify løsning og har haft dialogen med udviklere når der skulle udarbejdes forbedringer og nye funktioner eller ved fejlrettelser."/>

</section>

	<section id="kompetencer">
		<h2>Mine Kompetencer</h2>
		<div class="frontend_kompetencer">
	<div class="kode_kompetencer">
<Kompetencer kompetence="HTML" værdi="Øvet" />
<Kompetencer kompetence="CSS" værdi="Øvet" />
<Kompetencer kompetence="JS" værdi="Begynder" />
</div>
	<div class="framework_kompetencer">
<Kompetencer kompetence="ASTRO" værdi="Begynder" />
<Kompetencer kompetence="REACT" værdi="Kommer snart" />
</div></div>
	<div class="prototype_kompetencer">
<Kompetencer kompetence="FIGMA" værdi="Begynder" />
<Kompetencer kompetence="ADOBE XD" værdi="Begynder" />
</div>
</section>
<section id="projekt">
	<Projekt image="omada.png" alt="Omada projekt" link="https://omada-grp9.netlify.app" description="Redesign af onepager til Omadas vin og delikatesse butik"/>
	<Projekt image="omada.png" alt="Omada projekt" link="https://omada-grp9.netlify.app" description="Redesign af onepager til Omadas vin og delikatesse butik"/>
</section>
</MainLayout>
<style>

	#my_experience{
		background-color: var(--secondary_bg_col);
		color: var(--secondary_text_col);

	}
	#projekt{
		padding-inline: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
	margin-block: 2rem;
	}

	#kompetencer{
display: flex;
flex-direction: column;
margin-inline: auto;
align-items: center;
margin-block: 2rem;
padding-inline: 1rem;
	}

	.kode_kompetencer, .framework_kompetencer, .prototype_kompetencer{
		display: flex;
		justify-content: center;
		margin-block: 1rem;
		column-gap: 2rem;
	}
	.kode_kompetencer{
		column-gap: 4rem;
	}

	@media (min-width: 768px){
		.kode_kompetencer, .framework_kompetencer, .prototype_kompetencer{
		column-gap:2rem
	}

		.frontend_kompetencer{
			display: flex;
			column-gap: 2rem;

		}
	}

</style>
 
