---
const {første_overskrift, første_brødtekst, anden_overskrift, anden_brødtekst} = Astro.props;
---

<div id="container">
<div class="textfield">
    <h2>{første_overskrift}</h2>
    <p>{første_brødtekst}</p>
    <h2>{anden_overskrift}</h2>
    <p>{anden_brødtekst}</p>
</div>
</div>