---

---
<nav>
    <img src="logo.svg" alt="#">
</nav>

<style>
    img{
        max-width: 100%;
        width: 25vw;
        margin-block: 1rem;
    }

    @media (min-width: 768px){
        img{
            width:160px
        }
    }
</style>